
body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background-color: #FBF7E9;
    color: #333;
    margin: 0;
}

header {
    background-color: #EF959C;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center; /* Distribui os elementos igualmente ao longo do eixo horizontal */
    align-items: center;
    border-radius: 5px;
    padding: 5px;

}

/* Estilos para a imagem centralizada */
.center-image {
    display: block; /* Garante que a imagem será tratada como um bloco */
    margin: 0 auto; /* Define margem automática para centralizar horizontalmente */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura máxima da viewport */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 20px; /* Adiciona espaço acima da imagem */
    height: 150px;
    width: 130px;
}

/* Estilos para o formulário de criação de post */
form {
    display: flex; /* Usa flexbox para alinhar o conteúdo */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    margin-top: 10px;
}

form input {
    max-width: 180px;
    width: 100%;
    height: 20px;
}

/* Estilos para o botão de adicionar */
form button[type="submit"] {
    background-color: transparent; /* Define o fundo como transparente para que a imagem seja visível */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

/* Estilos para a lista de componentes */
.listasDeComponentes {
    display: flex; /* Usa flexbox para alinhar o conteúdo */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    flex-direction: column; 
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para cada item da lista de componentes 
.listasDeComponentes li {
    display: flex; /* Usa flexbox para alinhar os itens 
    align-items: center; /* Centraliza os itens horizontalmente 
    padding: 4px; /* Adiciona preenchimento interno 
    max-width: 400px; /* Define a largura máxima do item 
    position: relative; /* Adicionando posicionamento relativo 
}*/

.listasDeComponentes li {
    max-width: 600px; /* Limita a largura dos itens da lista em telas maiores */
    display: flex; /* Utiliza flexbox */
    flex-wrap: wrap; /* Permite que os itens da lista sejam enrolados */
    justify-content: flex-start; /* Alinha os itens ao topo */
    align-items: center; /* Centraliza verticalmente os itens */
    width: 100%; /* Define a largura do item li (levando em conta a margem extra na esquerda) */
    margin-left: 250px; /* Adiciona um espaço extra na esquerda para centralizar os itens */
    margin-bottom: 15px;
}

/* Estilos para o conteúdo do componentes */
.listasDeComponentes li span {
    margin-right: 5px;
    font-size: 17px;
    max-width: calc(100% - 400px); /* Limitando a largura do texto */
    overflow-wrap: break-word; /* Quebra de palavra para quebrar o texto quando ele exceder o contêiner */
}

/* Estilos para o botão de editar */
.btn-edit, .btn-delete {
    background-color: transparent; /* Define o fundo como transparente para que a imagem seja visível */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

/* Estilos para botao de adicionar */
.btn-adicionar {
    border-radius: 100%; /* Borda arredondada */
    width: 35px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    object-fit: cover; /* Mantém a proporção da imagem e corta o excesso */
    margin-left: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
}

/* Estilo para o checkbox */
.checkbox {
    width: 15px; /* Largura do checkbox */
    margin-bottom: 10px;
    margin-right: 20px;
}

/* Estilos para a imagem dentro do botão de editar */
.edit-img, .delete-img {
    border-radius: 100%; /* Borda arredondada */
    width: 35px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    object-fit: cover; /* Mantém a proporção da imagem e corta o excesso */
    margin-left: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
}

/* Estilos para largura de tela maior que 600px */
@media only screen and (min-width: 600px) {
    .listasDeComponentes li {
        max-width: 600px; /* Aumenta a largura máxima para telas maiores */
    }
}

/* Estilos para largura de tela menor que 600px */
@media only screen and (max-width: 600px) {
    .listasDeComponentes li {
        display: flex; /* Utiliza flexbox */
        flex-wrap: wrap; /* Permite que os itens da lista sejam enrolados */
        justify-content: flex-start; /* Alinha os itens à esquerda */
        align-items: center; /* Centraliza verticalmente os itens */
        width: calc(100% - 40px); /* Define a largura do item li */
        margin: 10px; /* Adiciona margem ao redor do item li */
        margin-left: 0;
    }

    .listasDeComponentes li span {
        margin-right: auto; /* Move o texto para a esquerda */
        margin-bottom: 10px; /* Adiciona margem inferior ao texto */
        max-width: calc(100% - 150px); /* Limitando a largura do texto */
    }

    .btn-edit {
        margin-left: auto; /* Move o botão de editar para a direita */
        margin-top: 5px; /* Adiciona margem superior ao botão de editar */
    }

    .btn-delete {
        margin-top: 5px; /* Adiciona margem superior ao botão de deletar */
    }
}
